 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>Education</h3>
                    <p>- Control and Instrumentation Engineering, Korea University, Sejong</p>
                    <p>- iOS Developer School, Fastcampus</p>
                </div>
                <div class="col-lg-4">
                  <h3>Skills</h3>
                    <p>- Swift, cocoapod, iOS, Firebase</p>
                    <p>- Git, Trello</p>
                    <p>- Sketch</p></p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
