 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ portfolio.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ portfolio.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ portfolio.img }}" class="img-responsive img-centered" alt="{{ portfolio.alt }}">
                            {% if portfolio.description %}
                                <p>{{ portfolio.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if portfolio.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ portfolio.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if portfolio.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ portfolio.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if portfolio.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ portfolio.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Blog Modals -->
{% for portfol in site.portfolio %}
   <div class="content-modal modal fade" id="portfolioModal-{{ portfol.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ portfol.title }}</h2>
                           <hr class="star-primary">
                           <img src="img/portfolio/{{ portfol.img }}" class="img-responsive img-centered" alt="{{ portfol.alt }}">
                           {% if portfol.description %}
                               <p>{{ portfol.description }}</p>
                           {% endif %}
                           <ul class="list-inline item-details">
                               {% if portfol.client %}
                                   <li>Client:
                                       <strong><a href="http://startbootstrap.com">{{ portfol.client }}</a>
                                       </strong>
                                   </li>
                               {% endif %}
                               {% if portfol.project-date %}
                                   <li>Date:
                                       <strong><a href="http://startbootstrap.com">{{ portfol.project-date }}</a>
                                       </strong>
                                   </li>
                               {% endif %}
                               {% if portfol.category %}
                                   <li>Service:
                                       <strong><a href="http://startbootstrap.com">{{ portfol.category }}</a>
                                       </strong>
                                   </li>
                               {% endif %}
                           </ul>
                           <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
