<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
	   <div class="row">
		     <div class="text-center">
			        <h2> portfolio </h2>
			           <hr class="star-primary">
		     </div>
	   </div>

     <div class="row">
       {% for item in site.portfolio %}
          <div class="col-sm-4 portfolio-item">
            <a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
              <div class="caption" >
                <div class="caption-content" >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img src="{{ item.image }}" class="img-responsive" alt="{{ item.alt }}">
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</section>
