
    <!-- Portfolio Grid Section -->
    <div class="catalogue">
      {% for post in paginator.posts %}
         <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
          <div>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
            <h1 class="catalogue-title">{{ post.title }}</h1>
            <div class="catalogue-line"></div>

            <p>
              {{ post.content | truncatewords: 26 | strip_html }}
            </p>

          </div>
        </a>
      {% endfor %}
    </div>

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
      {% endif %}

      <span>{{ paginator.page }}</span>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- 블로그 광고 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-2076703172249425"
               data-ad-slot="1047237686"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
    </div>
